body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2 {
    font-size: 50px;
}
.name-highlight {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;

}
.half-width img {
    width: 100%;
}
.top-section {
    background-image: url("img/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 5%;
    padding-left: 5%;
}
.link-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(45deg, salmon, orange)
}