body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2 {
    font-size: 50px;
}
.name-highlight {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;

}
.half-width img {
    width: 100%;
}
.top-section {
    background-image: url("img/top-banner.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left:;
    padding-left: 5%;
    padding-bottom: 100px;
}
.link-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(45deg, salmon, orange);
}
.dream-half-width {
    float: ;
}
.bottom {
    padding-left: 20px;
}
.dream-down {
    padding-left: 60px;
}
.dream-area {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: right;
}
.top-img {
    padding-left: 100px;
}
.pro-pic {
    border: 1px solid white;
    border-radius: 100%;
}
h2 {
    font-size: 30px;
}
.single-experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-left: 40px;
    margin-left: 40px;
    height: 300px;
    background-color: #fff;
}
.experience-area {
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
}
#baby-dev {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, yellow);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}